
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Log files
logs/

# Optional: compiled output (in case is used later)
dist/

# Optional: env files (in case of dotenv used later)
.env
.env.local
